/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* iHeart //////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

#menu-container{
    position:fixed;
    left: 0;
    bottom:0;
    width:100%;
    z-index:999999;
    /*opacity:1;*/
    /*text-align: center;*/
}

#menu-container iframe{
    z-index:20;
}

#menu-iframe-menu{
    vertical-align:top;
    height: 50px;
    width:100%;
    background-color: #ffffff;
    border: 2px solid black;
}

#menu-iframe-keyboard{
    position: fixed;
    border:none !important;
    /*vertical-align:bottom;*/
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /*margin: -50px 0 0 243px ;*/
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
#switch-navigation-wrapper {
    min-height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
#menu-container, #switch-navigation-push {
    height: 50px; /* '.push' must be the same height as 'footer' */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

#switch-navigation-overlay {
    position:fixed;
    height:100%;
    width:100%;
    background-color:#333;
    opacity: .25 ;
    z-index:99 ;
}

.switch-navigation-usable {
    position:relative !important;
    z-index:100 !important;
    /*background-color:#3D2;*/
}

