#overlay {
    position:absolute;
    height:100%;
    width:100%;
    background-color:#333;
    opacity: 0;
    z-index:0;
}

.switch-navigation-usable {
    position:relative;
    z-index:5;
    width:100px;
    height:100px;
    background-color:#F0F;
}

div.active {
    /*background-color:#F00;*/
    z-index:5;
}
